.rowposter {
    display: flex;
    overflow: hidden;
    overflow: scroll;

}

 .rowposter a {
    transform: scale(1.10);
}

 .rowposter::-webkit-scrollbar{
    display: none;
 }

 .rowposter a img {
    margin-right: 10px;
    border-radius: 20px;
    box-sizing: content-box;
    transition: transform 450ms;
    max-height: 300px;
    object-fit: contain;
 }